<%- include("partials/blogHeader") -%>

<!-- <div class="ui main text container"> -->
  <!-- <div class="ui huge header"> BLOGS</div>
  <div class="btn btn-primary">
    <a href="/blogs/new" class="btn btn-primary">New Blog</a> </div> -->
<div class="qu">
  <div class="top attached segment">
    <div class="ui divided items">
      <% blogs.forEach(function(blog){ %>

      <div class="item">
        <div class="image">
          <img src="<%= blog.image %>">
        </div>
        <div class="content">
          <a class="header"  href="/blogs/<%= blog._id%>" style="color: white;"> <%= blog.title %> </a>
          <div class="meta" >
            <span id="me1"><%= blog.created.toDateString() %></span>
          </div>
          <div class="description" >
            <p class="me"><%= blog.body.substring(0,20) %>...</p>
          </div>
          <div class="extra">
            <a class="ui floated secondary button" href="/blogs/<%= blog._id%>">Read More
              <i class="right chevran icon"></i></a>
          </div>
        </div>
      </div>
      <%})%>
    </div>
  </div>
<!-- </div> -->
</div>

<%- include("partials/blogFooter") -%>
