<%- include("partials/stackHeader",{user : currentuser}); -%>

<div class="qu">
<div>
  <div>
    <div class="jumbotron">
      <h1 class="display-3">All users</h1>
      <!-- <p class="lead"><strong>connect with others</strong></p> -->
			<form method="POST" action="/users">
				<div class="form-group row userSearch mt-1">
					<div class="col-xs-3">
						<div class="input-group">
							<input type="text" class="form-control" name="name" placeholder="ðŸ”Recipient's username">
						</div>
					</div>
				</div>
			</form>
    </div>
  </div>
</div>


  <div class="row">
    <%users.forEach(function(item){%>
    <div class="col-md-4 my-3">
			<img class="userImage" src="<%= item.image%>" alt="default User image" class="img-thumbnail">
      <div class="userTile">
				<div class="caption">
	        <p class="lead"><a href="/users/<%=item._id%>"><%=item.name%></a></p>
	        <p><%=item.username%></p>
	      </div>
      </div>
    </div>
    <% });%>
  </div>
  </div>


<%- include("partials/stackFooter"); -%>
