<%- include("partials/stackHeader",{user : currentuser}); -%>
<h1>Ask a public question</h1>


<form action="/questionAnswer/<%= question._id %>/update" method="post">
  <div class="form-group">
      <label for="title"><strong>Title:</strong></label>
      <input type="text"  name="question[questionTitle]" class="form-control"  placeholder="What's your programming question? Be specific" value="<%= question.questionTitle %>">
      <small id="emailHelp" class="form-text text-muted">Be specific and imagine you’re asking a question to another developer</small>
  </div>
  <div class="form-group">
      <label for="post"><strong>Question Body:</strong></label>
      <textarea class="form-control" name="question[questionDescription]" rows="8" cols="80" ><%= question.questionDescription%></textarea>
      <small id="emailHelp" class="form-text text-muted">Include all the information someone would need to answer your question</small>
  </div>


  <button type="submit" name="button" class="btn btn-primary">Update your question</button>
</form>

<%- include("partials/stackFooter") -%>
