<%- include("partials/stackHeader",{user : currentuser}); -%>


<div class="qu">

<% questions.forEach(function(element){  %>

<div class="card bg-light">
  <div class="card-body">
    <h4 class="card-title"><a href="/questionAnswer/<%= element._id %>" class="questionTitle"><%= element.questionTitle %></a></h4>
    <p class="card-text mb-0">
      <pre class="mb-0"><%= element.questionDescription.substring(0,130)+" ..." %></pre>
    </p>
    <% element.questionTags.forEach(function(item){ %>
    <a href="/tags/<%= item._id %>" class="btn btn-dark btn-sm"><%= item.name %></a>
    <% }) %>
    <p class="card-text ml-auto mt-2 mb-0 mr-1">
      <strong>Asked by :</strong>
      <%= element.userId.username %>
      <strong>, on : </strong>
      <%= element.updatedAt.toString().substring(0,25) %>
    </p>
  </div>
</div>
<%  }) %>

</div>

<%- include("partials/stackFooter"); -%>
